################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
build/
[Bb]in/
[Oo]bj/

# Other Visual Studio data
.vs/

# VSCode
.vscode/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

/IfSharp/.paket/load
/IfSharp/packages
/Notebooks/shell.log

.vs/
/AuxFiles/ChlamyTruncDB.db
/Scripts/RERUN_Results/BN_IGD/plots
/Scripts/RERUN_Results/LabelEfficiency/plots
/Scripts/RERUN_Results/SDS_IGD/plots
/Scripts/RERUN_Results/WholeCell/plots
/Scripts/RERUN_Results
/Scripts/isdAlResults.txt
